[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/saznetro
[access "refs/for/refs/*"]
	read = group user/saznetro
	push = group user/saznetro
	label-Code-Review = -2..+2 group user/saznetro
	label-Verified = -1..+1 group user/saznetro
	rebase = group user/saznetro
	removeReviewer = group user/saznetro
	submit = group user/saznetro
[access "refs/heads/*"]
	read = group user/saznetro
	create = group user/saznetro
	push = +force group user/saznetro
	pushMerge = group user/saznetro
[access "refs/tags/*"]
	push = group user/saznetro
	push = +force group user/saznetro
