<?xml version="1.0"?>
<launch>
  <arg name="cmd_vel" default="/mobile_base_controller/cmd_vel" />

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="autorepeat_rate" value="10" />
    <param name="dev" value="/dev/input/js0" />
  </node>

  <rosparam command="load" file="$(find hotwheels_start)/config/joy_teleop_xbox_controller.yaml" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel)" />
  </node>

</launch>
