<launch>
  <arg name="video_device" default="/dev/video1"/>
  <arg name="node_name" default="jocoka_tefasznemallitottadbeanevet"/>
  <arg name="cam_name" value="creative_cam" />

  <node name="$(arg node_name)" pkg="usb_cam" type="usb_cam_node"  >
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
   <!-- Provide rectification 
  <node pkg="image_proc" type="image_proc" name="creative_image_proc"
        ns="$(arg cam_name)" />-->

  <!-- View the raw and rectified output
  <node pkg="image_view" type="image_view" name="creative_view" >
    <remap from="image" to="/$(arg cam_name)/image_raw" />
  </node>
    
  <node pkg="image_view" type="image_view" name="creative_view_rect" >
    <remap from="image" to="/$(arg cam_name)/image_rect_color" />
  </node> -->
</launch>
